site_name: Documentation for pynxtools-em
site_description: |
  The documentation for the pynxtools-em plugin.
site_author: The NOMAD authors
repo_url: https://github.com/FAIRmat-NFDI/pynxtools-em
edit_uri: ""

nav:
  - Home: index.md
  - Tutorials:
    - tutorial/installation.md
    - tutorial/standalone.md
    - tutorial/contributing.md
    # - tutorial/nexusio.md
    # - tutorial/oasis.md
  - How-To Guides:
    - how-tos/examples.md
    - how-tos/kikuchi.md
    - how-tos/mtex.md
    - how-tos/pyxem.md
  - Explanation:
    - explanation/learn.md
    # - explanation/emapp.md
    - explanation/implementation.md
  - Reference:
    - reference/contextualization.md
    - reference/conventions.md
    - reference/eln_and_cfg.md
    - reference/zip_png_axon.md
    - reference/hfive_apex.md
    - reference/rsciio_gatan.md
    - reference/tiff_hitachi.md
    - reference/tiff_jeol.md
    - reference/nxs_nion.md
    - reference/tiff_point.md
    - reference/tiff_tescan.md
    - reference/tiff_tfs.md
    - reference/rsciio_velox.md
    - reference/tiff_zeiss.md

plugins:
  - search

theme:
  name: material
  palette:
    primary: '#2A4CDF'
    accent: '#008A67'
  font:
    text: 'Titillium Web'
  logo: assets/nomad-plugin-logo.png
  favicon: assets/favicon.png
  features:
    - navigation.instant
    - navigation.footer
    - content.code.copy
    - content.code.annotate
    - search.suggest
  custom_dir: docs/theme
  icon:
    repo: fontawesome/brands/github

markdown_extensions:
  - attr_list
  - md_in_html
  - admonition
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - toc:
      permalink: True
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.emoji
  - mkdocs-click
  - pymdownx.extra
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

extra:
  generator: false

use_directory_urls: false

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascript.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js